<fieldset>                  
    <section>
        <div class="row">
            <label class="label col col-4">E-mail</label>
            <div class="col col-4">
                <label class="input">
                    <input type="email" name="email">
                </label>
            </div>
        </div>
    </section>
    
    <section>
        <div class="row">
            <label class="label col col-4">Password</label>
            <div class="col col-4">
                <label class="input">
                    <input type="password" name="password">
                </label>                        
            </div>
        </div>
    </section>
</fieldset>