<div class="stepwizard">
		<div class="stepwizard-row setup-panel">
			<div class="stepwizard-step">
				<a href="#step-1" type="button" class="btn btn-default btn-circle"  disabled="disabled">1</a>
				<p>Custom Design</p>
			</div>
			<div class="stepwizard-step">
				<a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
				<p>Measurement</p>
			</div>
			<div class="stepwizard-step">
				<a href="#step-3" type="button" class="btn-u btn-circle">3</a>
				<p>Shipping Address</p>
			</div>
		</div>
</div>
	
	
		<div id="step-1" class="sky-form">
			<fieldset>
				<section>
					<label class="label">Cuff</label>
					<div class="row">
						<div class="col-xs-3">
        				<img src="http://placehold.it/160x100" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice" id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
							<div class="col-xs-3">
        				<img src="http://placehold.it/160x100" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice" id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
        		<div class="col-xs-3">
        				<img src="http://placehold.it/160x100" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice" id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
        		<div class="col-xs-3">
        				<img src="http://placehold.it/160x100" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice" id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
        		<div class="col-xs-3">
        				<img src="http://placehold.it/160x100" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice"  id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
        		<div class="col-xs-3">
        				<img src="http://knitfab.com/wp-content/uploads/2015/02/Oxford.jpg" style="width: 160px; height: 100px;" class="img-responsive img-radio">
        				<label class="radio"><input type="radio" name="color-choice" id="left-item"><i class="rounded-x"></i>sdsfs</label>
        		</div>
					</div>                      
				</section>				
			</fieldset>
		</div>