<form class="sky-form col-md-6" style="float:right;">
        <h5><%= link_to t(:login, scope: :'myinfo.menu'), fb_login_path, :remote => true, class: 'static-popup-link' %></h5>
    </form>
    <form  class="sky-form col-md-5">
        <h5><%= link_to t(:sign_up, scope: :'myinfo.menu'), fb_create_user_path, :remote => true, class: 'static-popup-link' %></h5>    

    </form>