<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Filters</h1>       
    </div>
</div>
<div class="row margin-bottom-10">  
    <%@products.try(:each) do |p|%>
        <div class="col-md-3">
            <div class="bg-light team-v2">
                <%=image_tag(p.images.first.avatar_url(:thumb), class: "img-responsive") unless p.images.blank?%>  
                <h4><%=p.name%></h4>
                <small class="color-green">$<%=p.back_price%>/<span><%=link_to "View", details_products_path(id: p)%></span></small>
            </div>
        </div>          
    <% end %>
</div>
